/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #svelte {
  height: 100%;
}

.selected {
  @apply text-gray-900 bg-gray-100;
}
